* {
  font-family: "Hack Nerd Font";
  font-size: 18px;
}

window#waybar {
  background-color: #32302f;
  color: #ddc7a1;
}

.modules-left {
  background-color: #32302f;
  padding: 0px 0px 0px 0px;
}

.modules-right {
  background-color: #32302f;
  padding: 0px 5px 0px 0px;
}

#workspaces button {
  padding: 0px 11px 0px 11px;
  min-width: 1px;
  color: #32302f;
}

#workspaces button.active {
  padding: 0px 11px 0px 11px;
  background-color: #928374;
  color: #45403d;
}

#window {
  background-color: #32302f;
  padding: 0px 10px 0px 10px;
}

#network,
#temperature,
#backlight,
#pulseudio,
#battery {
  padding: 0px 15px 0px 15px;
}

#clock {
  margin: 0px 15px 0px 15px;
}

#tray {
  padding: 0px 8px 0px 5px;
  margin: 0px 5px 0px 5px;
}

#battery.critical {
  color: #ea6962;
}

#network.disconnected {
  color: #ea6962;
}
